.Manager {
  text-align: center;
}

.MWFLogo {
  height: 40vmin;
  pointer-events: none;
  margin-top: -100px;
}

.Manage-header {
  background-color: #204d91;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainMenu{
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 5px;
  display: block;
}

